.OK {
    border:10px solid #3d9e1e;
}

.ALARM {
    border:10px solid #c43921;
}

.INSUFFICIENT_DATA {
    border:10px solid #edb729;
}

.node {
    margin-top:5px;
    border-width:5px !important;
}

.loader
{
    display:none;
}

body {
    background:#262626;
}
